html { background-color: #CEE1C6;
}

h2 {
  font-size: 2rem;
  font-family:'Bangers', cursive;


}
em{
  color: #C67B7B;
}

li{
  color: #55C1AC;
  padding:0.1em;

}

ul {
  list-style-type: circle;
  padding: 1em 1em 1em 1.5em;
  text-align: left;
  background-color: #D68F8E;


}

h1{font-size: 4rem;
  text-align: center;
  background-color: #FCD8C8 ;
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin: 0;
  border: 5px line #000;
  border-radius: 10px;
  display: block;
  font-weight: bold;
}

a{
  background-color: #D68F8E;
  display: block;
  padding: 0.2rem;
}

a:hover{
  color: #2E8B73;
}

}
nav{
  background-color: #F1E2D1;
  text-align: center;
  padding: 3rem;
  }
nav li {
    display: inline-block;
    padding: 4px;
}

nav a {
      display: inline-block;
      padding: 0.5em o.75em;
      background-color: #F1E2D1;
      text-decoration: none;
      border-radius:3px;

    }

h1,h2,dt,nav,ul,h3{ font-family: 'Bangers', cursive;
color: #C67B7B;

}
.cute {color: red}

span {
  color: #E5B27F;
  font-size: 1rem;
}

blockquote {
  font-style: italic;
  font-size: 1.3rem;
  font-weight: normal;
  line-height: 1;
  color: white;

}
.neil{
  color: #E5BA8F;
  text-align: center;
  font-size: 1rem;
  font-style: italic;
}

figure{
  padding: 10px;
  border: 5px solid #F2E3D2;
  background-color: #D68F8E;
  border-radius: 10px
  }
footer{
  border-radius: 10px
  }
img{
  width: 100%;
}
dd{
  margin: 2;
  color: #304082;
}
figcaption{
  font-style: italic;
  padding: 5px;
}
dt {
  font-weight: bold;
  padding: 3px;

}
